.chatbox {
  width: 26rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.chat_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: aliceblue;
}

.title_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.chat_content {
  height: 500px;
  overflow-y: scroll;
  text-align: right;
}

.chat_mess {
  background-color: rgb(120, 120, 248);
  width: fit-content;
  border-radius: 0 1rem 1rem 1rem;
  padding: 1rem;
  color: white;

  margin: 1rem;
}

.chat_tool {
  background-color: aliceblue;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.chat_tool input {
  width: 50%;
  outline: none;
  border: none;
  background-color: aliceblue;
  font-size: 1.5rem;
}

.chat_manager {
  font-size: 2.5rem;
  padding: 0;
}

.btn-chat {
  color: rgb(212, 59, 243);
  font-size: 2rem;
  border: none;
  background-color: aliceblue;
}

.btn_show {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn:hover,
.btn_show :hover {
  font-weight: 600;
  transform: scale(1.05);
}

.btn_show:hover {
  background-color: black;
  color: aliceblue;
}

.emotion {
  font-size: 1.5rem;
  color: #adb5bd;
}
