.login-container {
  position: relative;
}

.back-img {
  width: 100%;
}

.back-img img {
  width: 100%;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.login-form p {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form span,
.login-form input {
  font-size: 1.2rem;
  padding: 0.05rem;
}

.login-form input {
  margin-bottom: 5px;
}

.login-form .login-btn {
  display: flex;
  justify-content: center;
}

.login-form .login-btn button {
  width: 100px;
  height: 28px;
  margin-top: 5px;
  background-color: black;
  color: white;
}

.login-form .login-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form .login-link {
}
